/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Importing all components file */
@import url('components/banner.css');
@import url('components/button.css');
@import url('components/container.css');
@import url('components/card.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
footer {
  background-color: rgb(44, 43, 43);
  text-align: center;
  padding: 60px;
  color: white;
}

footer a {
  font-size: 32px;
  color: aliceblue;
}

@media (max-width: 900px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 300px;
  }
  .cards {
    justify-content: space-around;
  }
  .card {
    margin-bottom: 15px;
  }
}
